@import "../../scss/_variables.scss";
@import "../../scss/mixins.scss";

.container {
  background-color: $light;
  border-radius: 15px;
  padding: 15px 15px 20px 15px;
  overflow: hidden;
  width: 100%;
  .headerWrapper {
    padding: 10px;
    h3 {
      margin: 0;
      color: white;
      font-size: 24px;
    }
    .actionButtons {
      width: 100%;
      margin: 15px 0px 0px 0px;
      button {
        width: 33%;
        padding-bottom: 5px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        color: rgba(white, 0.6);
        font-family: $font-body;
        &:hover {
          color: $green;
        }
        &.active {
          border-bottom: solid 1px $green !important;
        }
      }
    }
  }
  .content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
    border-radius: 25px;
    .listItem {
      display: grid;
      grid-template-columns: 120px auto;
      margin: 5px;
      border-radius: 20px;
      background-color: $dark;
      width: 100%;
      .image {
        min-width: 100px;
        min-height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .itemContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 0px 15px 0px;
        width: 100%;
        .name {
          a {
            color: $green;
            font-size: 20px;
            font-weight: 500;
          }
        }
        .followers {
          color: rgba(white, 0.7);
          font-style: italic;
          font-size: 14px;
        }
        .popularityTag {
          color: $green;
          font-size: 12px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
