@import "../scss/_variables.scss";

.landing-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  .leftSide-wrapper {
    width: 70%;
    min-width: 600px;
    background-image: url("../img/landing-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .rightSide-wrapper {
    width: 30%;
    min-width: 250px;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .welcome-header-wrapper {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      h1 {
        text-align: center;
        color: white;
        font-family: $font-body;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 46px;
        span {
          color: $green;
          font-weight: 800;
          letter-spacing: 1px;
          font-size: 46px;
        }
      }
      span {
        color: white;
        font-family: $font-body;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 20px;
      }
    }

    .spotify-button {
      padding: 12px 40px;
      background-color: transparent;
      border: 1px $green solid;
      border-radius: 20px;
      display: flex;
      align-items: center;
      transition: 0.7s;
      cursor: pointer;
      &:hover {
        background-color: $green;
        transition: 0.7s;
        .spotify-logo {
          fill: white;
          transition: 0.7s;
        }
        span {
          color: white;
          transition: 0.7s;
        }
      }
      .spotify-logo {
        width: 25px;
        fill: $green;
        transition: 0.7s;
      }
      span {
        color: $green;
        font-family: $font-body;
        font-size: 18px;
        margin-left: 10px;
        transition: 0.7s;
      }
    }
  }
}
